{% extends 'cinemas/base.html' %}

{% block breadcrumb %}

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">customers</li>
      </ol>
    </nav>

{% endblock %}

{% block content %}

    {% for customer in all_customers %}
        <ul class="list-group">
        <li class="list-group-item">
            <a href="{{ customer.get_absolute_url }}">{{ customer.name }}  [{{ customer.iso }}]</a>
        </li>
        </ul>
        {% endfor %}
    {% include 'cinemas/pagination.html' %}

{% endblock %}
