{% extends 'cinemas/base.html' %}

{% block content %}
<h1 style="text-shadow: 1px 1px MediumSeaGreen;
           background-color:LightGray;
           text-align:center;
           margin-top:20px;">WTF Stereolife</h1>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Library</a></li>
    <li class="breadcrumb-item active" aria-current="page">Data</li>
  </ol>
</nav>


<iframe width="560" height="315" src="https://www.youtube.com/embed/meBGuFs9N6w" frameborder="2"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
</iframe>

{% endblock %}
