{% extends 'cinemas/base.html' %}

{% block breadcrumb %}

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'all_products' %}">products</a></li>
          <li class="breadcrumb-item"><a href="{% url 'product_types' %}">types</a></li>
          <li class="breadcrumb-item active" aria-current="page">subtypes</li>
      </ol>
    </nav>

{% endblock %}

{% block content %}

    <div class="card-columns">
        {% for subtype in product_subtypes_list %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><strong>{{ subtype }}</strong></h5>
                    <p class="card-text">description..</p>
                    <a href="{% url 'product_list' type=type subtype=subtype %}" class="btn btn-success">explore</a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}