{% extends 'cinemas/base.html' %}

{% block breadcrumb %}

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'all_products' %}">products</a></li>
          <li class="breadcrumb-item active" aria-current="page">types</li>
      </ol>
    </nav>

{% endblock %}

{% block content %}

    <div class="card-columns text-center">
        {% for type in product_types_list %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><strong>{{ type|upper }}</strong></h5>
                    <p class="card-text">description..</p>
                    <a href="{% url 'product_subtypes' type=type %}" class="btn btn-outline-success">explore</a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}

