{% extends 'cinemas/base.html' %}

{% block breadcrumb %}

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'all_products' %}">products</a></li>
          <li class="breadcrumb-item"><a href="{% url 'product_types' %}">types</a></li>
          <li class="breadcrumb-item"><a href="{% url 'product_subtypes' type=product.type %}">subtypes</a></li>
          <li class="breadcrumb-item"><a href="{% url 'product_list' type=product.type subtype=product.subtype %}">{{ product.subtype|lower }}</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ product.title|lower }}</li>
      </ol>
    </nav>

{% endblock %}


{% block content %}

    <div class="card text-center">
        <div class="card-header">
            {{ product.owner.name }} [{{ product.owner.iso }}]
            <a href="{% url 'product_edit' type=product.type subtype=product.subtype slug=product.slug %}" style="margin-left: 10px;">
                <small>edit</small></a>
                <a href="{% url 'product_delete' type=product.type subtype=product.subtype slug=product.slug %}" style="margin-left: 10px;">
                <small>delete</small></a>
        </div>
        <div class="card-body">
            <h5 class="card-title"><strong>{{ product.title }}</strong></h5>
            <p class="card-text">{{ product.ownervalue }}</p>
            <p class="card-text">{{ product.uniqueid }}</p>
            <a href="{% url 'customer_info' iso=product.owner.iso name=product.owner.name %}" class="btn btn-success">all customer equipment</a>
        </div>
        <div class="card-footer text-muted">
            {{ product.creation }}
        </div>
    </div>

{% endblock %}


